@{
    ViewBag.Title = "Home Page";
}
<div ng-app="app" ng-controller="regionController">
    <br />
    <div class="ng-grid panel panel-default" ng-cloak ng-style="{width:gridOption.width+40}" ng-cloak style="min-width:600px">
        <div class="panel-heading">
            <b>REGION</b>
        </div>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data"></div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        app.controller("regionController", [
         "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
             $window.formatterDate = function (value) {
                 return $filter("date")(value, "yyyy-MM-dd");
             }

             $scope.gridOption = {
                 height: 'auto',
                 rowNumber: true,
                 pkColumn: "Id",
                 rowDetail: true,
                 filterRow: true,
                 columns: $common.columnOption.region,
                 url: "/region/page",
                 selectUrl: "/region/select2",
                 editTemplateUrl: "/ngTemplate/region.html",
                 btns: [
             { name: "detail", icon: "glyphicon glyphicon-th", onclick: function () { alert("detail") } }
                 ],
                 onRowSelected: function (row) { }
                 // ,onRenderRowDetail: function (row) { }
             };
         }
        ])
    </script>
}
