@{
    ViewBag.Title = "Home Page";
}
@section Styles{


}




<div ng-app="app" ng-controller="customersController">
    <br />
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-heading">
            <b>COUSTOMERS</b>
        </div>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data"></div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        app.controller("customersController", [
         "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
             $window.formatterDate = function (value) {
                 return $filter("date")(value, "yyyy-MM-dd");
             }

             $scope.gridOption = {
                 height: 'auto',
                 rowNumber: true,
                 pkColumn: "Id",
                 rowDetail: true,
                 filterRow: true,
                 columns: $common.columnOption.customers,
                 url: "/Customers/page",
                 selectUrl: "/Customers/select2",
                 editTemplateUrl: "/ngTemplate/Customers.html",
                 btns: [
             { name: "detail", icon: "glyphicon glyphicon-th", onclick: function () { alert("detail") } }
                 ],
                 onRowSelected: function (row) { }
                 // ,onRenderRowDetail: function (row) { }
             };
         }
        ])
    </script>
}
