@{
    ViewBag.Title = "Home Page";
}
@section Styles{

    <link href="~/Content/select.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ng-scrollbars/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/grid.min.css" rel="stylesheet" />
}




<div ng-app="app" ng-controller="appOrder">
    <br />
    <div class="ng-grid panel panel-default" ng-cloak ng-style="{width:gridOption.width+40}">
        <div class="panel-heading">
            <b>COUSTOMERS</b>
        </div>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data"></div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        angular.module("app", ['ui.bootstrap', 'app.grid', 'ngMessages', 'ngScrollbars', 'ui.select']).controller("appOrder", [
            "$scope", "$http", "$filter", "$window", function ($scope, $http, $filter, $window) {
                $window.formatterDate = function (value) {
                    return $filter("date")(value, "yyyy-MM-dd");
                }

                $scope.gridOption = {
                    height: 'auto',
                    rowNumber: true,
                    pkColumn: "Id",
                    rowDetail: true,
                    filterRow: true,
                    columns: Grid.columnOption.customers,
                    url: "/Customers/page",
                    selectUrl: "/Customers/select2",
                    editTemplateUrl: "/ngTemplate/Customers.html",
                    btns: [
                { name: "detail", icon: "glyphicon glyphicon-th", onclick: function () { alert("detail") } }
                    ],
                    onRowSelected: function (row) { }
                    // ,onRenderRowDetail: function (row) { }
                };
            }
        ])
    </script>
}
