@{
    ViewBag.Title = "订单信息";
}
@section Styles{

}
<div  ng-controller="ordersController">
    <br />
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-heading">
            <b>订单信息</b>
            <a class="btn btn-primary pull-right" ng-click="gridOption.create();"><i class="fa fa-plus"></i>新 建</a>
        </div>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data" grid-name="orders"></div>
        </div>
    </div>  
</div>
@section scripts{
    <script type="text/javascript">
        app.controller("ordersController", [
            "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
                $scope.gridOption = {
                    height: 'auto',
                    rowNumber: true,
                    pkColumn: "Id",
                    rowDetail: true,
                    filterRow: true,
                    url: "/orders/page",
                    selectUrl: "/orders/select2",
                    editTemplateUrl: "/ngTemplate/orders.html"
                //, onRowSelected: function (row) { }
               // , onRenderRowDetail: function (row) { }
                };
            }
        ])
    </script>
}

