@{
    ViewBag.Title = "员工信息";
}
@section Styles{

}
<div  ng-controller="employeesController">
    <div class="clearfix grid-btn">
        <ol class="breadcrumb pull-left">
            <li><a href="/">EDO</a></li>
            <li><a  class="active">员工信息</a></li>
        </ol>
        <a class="btn btn-primary " ng-click="gridOption.create();"><i class="fa fa-plus"></i>新 建</a>
    </div>
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-body" ng-cloak>
            <div grid grid-option="gridOption" data="data" grid-name="employees"></div>
        </div>
    </div>  
</div>
@section scripts{
    <script type="text/javascript">
  setTimeout(function () {
   require(["app"], function () {
       var app = angular.module("app");
         app.controller("employeesController", [
            "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
                $scope.gridOption = {
                    height: 'auto',
                    rowNumber: true,
                    pkColumn: "Id",
                    rowDetail: true,
                    filterRow: true,
                    url: "/employees/page",
                    selectUrl: "/employees/select2",
                    editTemplateUrl: "/ngTemplate/employees.html"
                //, onRowSelected: function (row) { }
               // , onRenderRowDetail: function (row) { }
                };
            }
        ]);
     });
   }, 0);
    </script>
}
