@{
    ViewBag.Title = "系统角色";
}
@section Styles{

}
<div ng-controller="roleController">
    <div class="clearfix grid-btn">
        <ol class="breadcrumb pull-left">
            <li><a href="/">EDO</a></li>
            <li><a class="active">系统角色</a></li>
        </ol>
        <a class="btn btn-primary " ng-click="gridOption.create();"><i class="fa fa-plus"></i>新 建</a>
    </div>
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data" grid-name="role"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var app = angular.module("app");
        app.controller("roleController", [
            "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
                $scope.gridOption = {
                    height: 'auto',
                    rowNumber: true,
                    pkColumn: "Id",
                    rowDetail: true,
                    filterRow: true,
                    url: "/role/page",
                    selectUrl: "/role/select2",
                    editTemplateUrl: "/ngTemplate/role.html"
                    //, onRowSelected: function (row) { }
                    // , onRenderRowDetail: function (row) { }
                };
            }
        ])
    </script>
}

