
<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <b>{{item.Id?"EDIT":"CREATE"}}</b>

            <i class="fa fa-close pull-right" ng-click="vm.cancel()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="modal-nav">
  <a ng-click="vm.scrollTo('#tolink0')">基本信息</a>
  <a ng-click="vm.scrollTo('#tolink1')">Orders</a>
        </div>
        <form class="form-horizontal  modal-form" role="form" ng-style="{maxHeight:vm.modalHeight}" name="form"
              ng-scrollbars
              ng-scrollbars-update="vm.scrolls.updateScrollbar"
              ng-scrollbars-config="vm.scrolls.config">
          <fieldset id="tolink0">
                <legend><i class="fa fa-circle"></i>基本信息</legend>       
                    <div class="form-group" ng-class="{'has-error':form.LastName.$invalid }" 
                    ><label class="col-sm-2 control-label">LastName</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="LastName" name="LastName" ng-model="vm.item.LastName"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.FirstName.$invalid }" 
                    ><label class="col-sm-2 control-label">FirstName</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="FirstName" name="FirstName" ng-model="vm.item.FirstName"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Title.$invalid }" 
                    ><label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Title" name="Title" ng-model="vm.item.Title"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.TitleOfCourtesy.$invalid }" 
                    ><label class="col-sm-2 control-label">TitleOfCourtesy</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="TitleOfCourtesy" name="TitleOfCourtesy" ng-model="vm.item.TitleOfCourtesy"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.BirthDate.$invalid }" 
                    ><label class="col-sm-2 control-label">BirthDate</label>
                    <div class="col-sm-10">
                  <div class="dropdown">
                  <a class="dropdown-toggle" id="BirthDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                           <input type="text"                             
                                 readonly="readonly"
                                 class="form-control"
                                
                                 ng-value="vm.item.BirthDate  | date:'yyyy-MM-dd HH:mm a'">
                               <span    class="input-group-addon"  >
                               <i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                            <datetimepicker ng-model="vm.item.BirthDate" data-datetimepicker-config="{ dropdownSelector: '#BirthDate' }"></datetimepicker>
                        </ul>
               </div>
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.HireDate.$invalid }" 
                    ><label class="col-sm-2 control-label">HireDate</label>
                    <div class="col-sm-10">
                  <div class="dropdown">
                  <a class="dropdown-toggle" id="HireDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                           <input type="text"                             
                                 readonly="readonly"
                                 class="form-control"
                                
                                 ng-value="vm.item.HireDate  | date:'yyyy-MM-dd HH:mm a'">
                               <span    class="input-group-addon"  >
                               <i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                            <datetimepicker ng-model="vm.item.HireDate" data-datetimepicker-config="{ dropdownSelector: '#HireDate' }"></datetimepicker>
                        </ul>
               </div>
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Address.$invalid }" 
                    ><label class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Address" name="Address" ng-model="vm.item.Address"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.City.$invalid }" 
                    ><label class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="City" name="City" ng-model="vm.item.City"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Region.$invalid }" 
                    ><label class="col-sm-2 control-label">Region</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Region" name="Region" ng-model="vm.item.Region"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.PostalCode.$invalid }" 
                    ><label class="col-sm-2 control-label">PostalCode</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="PostalCode" name="PostalCode" ng-model="vm.item.PostalCode"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Country.$invalid }" 
                    ><label class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Country" name="Country" ng-model="vm.item.Country"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.HomePhone.$invalid }" 
                    ><label class="col-sm-2 control-label">HomePhone</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="HomePhone" name="HomePhone" ng-model="vm.item.HomePhone"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Extension.$invalid }" 
                    ><label class="col-sm-2 control-label">Extension</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Extension" name="Extension" ng-model="vm.item.Extension"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Photo.$invalid }" 
                    ><label class="col-sm-2 control-label">Photo</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Photo" name="Photo" ng-model="vm.item.Photo"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Notes.$invalid }" 
                    ><label class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Notes" name="Notes" ng-model="vm.item.Notes"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.ReportsTo.$invalid }" 
                    ><label class="col-sm-2 control-label">ReportsTo</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="ReportsTo" name="ReportsTo" ng-model="vm.item.ReportsTo"   
                        ng-pattern="/^([1-9][0-9]*){1,3}$/">
                    <div ng-messages="form.ReportsTo.$error" class="pull-left error">                       
                            <div ng-message="pattern">请输入大于零的整数</div>                         
                          </div>
                     </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.PhotoPath.$invalid }" 
                    ><label class="col-sm-2 control-label">PhotoPath</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="PhotoPath" name="PhotoPath" ng-model="vm.item.PhotoPath"   
                       >
                    </div>
                </div>
                </fieldset>
          <fieldset id="tolink1">
                <legend><i class="fa fa-circle"></i>Orders</legend>       
                  
                    <div grid
                    ng-model="vm.item.Orders"
                     grid-option="vm.gridOption"
                     grid-detail="true"
                     grid-item-field="EmployeeID"
                     grid-enable-edit="true"
                     grid-enable-delete="true"
                     grid-more-to-more="false"
                     grid-template="nggrid"
                     grid-name="orders"
                     grid-select-url="/Orders/Select2"
                     grid-delete-url="/Orders/Delete"
                     grid-edit-template-url="/ngTemplate/Orders.html"
                     grid-url="/Orders/Page">
                    </div>
                </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary " type="button" ng-click="vm.ok(form,'/employees/')">确 定</button>
        <button class="btn btn-warning " type="button" ng-click="vm.cancel()">取 消</button>
    </div>
</div>
