

<div class="ng-grid" ng-cloak>
    <div class="grid-body" ng-scrollbars ng-scrollbars-config="{ autoHideScrollbar: false,theme: 'dark-3',scrollInertia: 0,axis: 'x' }">
        <table class="content-table" ng-style="{width:gridOption.width}">
            <thead>
                <tr class="grid-head">
                    <th class="row-number-cell" ng-if="gridOption.rowNumber">No.</th>
                    <th class="detail-cell" ng-if="gridOption.rowDetail || gridOption.showBtn"></th>
                    <th ng-repeat="op in gridOption.columns" ng-style="{width:op.width}">
                        <span ng-bind="op.name" ng-click="sort(op)" class="sort-name"> </span>
                        <span class="sort" ng-show="op.sortable">
                            <i class="fa fa-sort-asc" aria-hidden="true" ng-hide="gridSort.field==op.field && gridSort.sort!='ascending'"></i>
                            <i class="fa fa-sort-desc" aria-hidden="true" ng-hide="gridSort.field==op.field && gridSort.sort!='descending'"></i>
                        </span>
                        <div ng-if="gridOption.filterRow" class="row-filter" ng-cloak>
                            <div ng-if="op.type=='Date'" ng-cloak class="date-filter form-inline">
                                <input type="text" class="form-control" data-field="{{op.field}}"
                                       uib-datepicker-popup ng-model="filterObj[op.field].start"
                                       ng-change="filter();"
                                       is-open="sO"
                                       datepicker-options="{maxDate:filterObj[op.field].end,showWeeks:false}"
                                       ng-click="sO=!sO" />
                                <span class="split">~</span>
                                <input type="text" class="form-control" data-field="{{op.field}}"
                                       uib-datepicker-popup ng-model="filterObj[op.field].end"
                                       ng-change="filter();"
                                       is-open="eO"
                                       datepicker-options="{minDate:filterObj[op.field].start,showWeeks:false}"
                                       ng-click="eO=!eO" />
                            </div>
                            <div class="num-filter" ng-if="op.type=='Number'" ng-cloak ng-init="filterOption='='; filterValue=''">
                                <div class="input-group">
                                    <div class="input-group-btn" uib-dropdown on-toggle="filterNum(op.field, filterOption)">
                                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><b>&nbsp;{{filterOption}}&nbsp;</b><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-left" role="menu" uib-dropdown-menu>
                                            <li><a href="#" ng-click="filterOption='='">等于（=）</a></li>
                                            <li><a href="#" ng-click="filterOption='>='">大于且等于（&ge;）</a></li>
                                            <li><a href="#" ng-click="filterOption='<='">小于且等于（&le;）</a></li>
                                            <li><a href="#" ng-click="filterOption='!='">不等于（!=）</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" ng-model="filterObj[op.field].text" ng-blur="filterNum(op.field,filterOption)">
                                </div>
                            </div>
                            <input ng-if="op.type=='Text'" ng-model="filterObj[op.field]" class="form-control filter-text" type="text" ng-blur="filter(filterIsOpen);"
                                   uib-typeahead="filter for filter in getSelectFilter(op.field,$viewValue)"
                                   typeahead-focus-on-select="false"
                                   typeahead-on-select="filter();"
                                   typeahead-is-open="filterIsOpen"
                                   typeahead-min-length="2"
                                   typeahead-wait-ms="500" />
                            <i class="fa fa-close filter-clear-btn" ng-click="clearFilter(op.field);" ng-show="op.type!='Date' && filterObj[op.field] "></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="data && data.length==0" ng-cloak class="static-row">
                    <td colspan={{getconspan()}} ng-cloak>
                        <div class="alert alert-warning">没有符合条件的数据！</div>
                    </td>
                </tr>
                <tr>
                    <td colspan={{getconspan()}} ng-cloak>
                        <div ng-style="{maxHeight: gridOption.height}" ng-scrollbars ng-scrollbars-config="scrollbarsConfig">
                            <table class="data-table table-hover" ng-style="{width:gridOption.width}">
                                <tr ng-repeat-start="item in data" ng-click="rowSelected(item);" ng-class="{active:item.$selected,striped:$odd}" class="data-row" ng-init="row.show=false">
                                    <td ng-if="gridOption.rowNumber" ng-bind="(page.pageIndex-1)*page.pageSize+$index+1" class="row-number-cell"> </td>
                                    <td class="detail-cell" ng-if="gridOption.rowDetail || gridOption.showBtn"><i class="fa" ng-click="row.show=!row.show;" ng-class="row.show?'fa-minus-square':'fa-plus-square'" aria-hidden="true"></i></td>
                                    <td ng-repeat="col in gridOption.columns"
                                        ng-style="{width:col.width}"
                                        ng-bind="col.formatter?formatter(col.formatter,item[col.id],item) : item[col.id]"
                                        uib-popover="{{col.formatter?formatter(col.formatter,item[col.id],item) : item[col.id]}}"
                                        popover-append-to-body="true"
                                        popover-trigger="'outsideClick'"
                                        popover-placement="top-left"></td>
                                </tr>
                                <tr ng-repeat-end class="static-row" ng-cloak ng-show="row.show">
                                    <td colspan={{getconspan()}}>
                                        <div ng-if="gridOption.rowDetail" class="row-detail-content">
                                            <div ng-if="gridOption.onRenderRowDetail" ng-bind-html="renderRowDetail(item)"></div>
                                            <div ng-if="!gridOption.onRenderRowDetail" ng-repeat="(key,value) in item | filterColunm:columnfields">
                                                <p ng-if="!isArray(value)">
                                                    <b>{{key}}</b> ： {{value}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row-btn text-left" ng-if="gridOption.showBtn">
                                            <a class="btn btn-primary" ng-click="dialog(item);" ng-if="gridOption.showBtn.edit"> <i class="glyphicon glyphicon-pencil"></i><span>编 辑</span></a>
                                            <a class="btn btn-primary" ng-click="delete(item)" ng-if="gridOption.showBtn.del">
                                                <i class="glyphicon glyphicon-trash"></i><span>删 除</span>
                                            </a>
                                            <a class="btn btn-primary" ng-repeat="btn in gridOption.btns" ng-click="btn.onclick(item);"><i ng-class="btn.icon"></i><span>{{btn.name}}</span>  </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="page.pageSize<page.total" ng-cloak>
            <div class="btn-group grid-pagination" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    {{page.pageSize}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu grid-pagination-size" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="size in psArray" ng-click="page.pageSize=size;paging(page);"><a href="#">{{size}}</a></li>
                </ul>
            </div>
            <ul uib-pagination total-items="page.total"
                ng-model="page.pageIndex"
                max-size="5"
                class="pagination"
                ng-change="paging(page);"
                items-per-page="page.pageSize"
                boundary-link-numbers="true"
                next-text="下一页"
                previous-text="上一页"></ul>
            <i class="fa fa-spinner fa-pulse  fa-fw" ng-show="dataLoading"></i>
        </div>
    </div>
</div>
