<div class="ng-grid" ng-cloak>
    <div class="grid-body" ng-scrollbars
         ng-scrollbars-config="ctrl.scrolls.config">
        <table class="content-table" style="width: 100%;">
            <thead>
                <tr class="grid-head">
                    <th class="row-number-cell" ng-if="ctrl.gridOption.rowNumber">No.</th>
                    <th class="detail-cell" ng-if="ctrl.gridOption.rowDetail || ctrl.gridOption.showBtn"></th>
                    <th ng-repeat="op in ctrl.gridOption.columns" ng-style="{width:ctrl.gridOption.columns.length>1?op.width:'auto'}">
                        <span ng-bind="op.name" ng-click="sort(op)" class="sort-name"> </span>
                        <span class="sort" ng-show="op.sortable">
                            <i class="fa fa-sort-asc" aria-hidden="true" ng-hide="ctrl.gridSort.field==op.field && ctrl.gridSort.sort!='ascending'"></i>
                            <i class="fa fa-sort-desc" aria-hidden="true" ng-hide="ctrl.gridSort.field==op.field && ctrl.gridSort.sort!='descending'"></i>
                        </span>
                        <div ng-if="ctrl.gridOption.filterRow" class="row-filter" ng-cloak>
                            <div ng-if="op.type=='Date'" ng-cloak class="date-filter form-inline">
                                <input type="text" class="form-control" data-field="{{op.field}}"
                                       uib-datepicker-popup ng-model="ctrl.filterObj[op.field].start"
                                       ng-change="filter();"
                                       is-open="sO"
                                       datepicker-options="{maxDate:ctrl.filterObj[op.field].end,showWeeks:false}"
                                       ng-click="sO=!sO" />
                                <span class="split">~</span>
                                <input type="text" class="form-control" data-field="{{op.field}}"
                                       uib-datepicker-popup ng-model="ctrl.filterObj[op.field].end"
                                       ng-change="filter();"
                                       is-open="eO"
                                       datepicker-options="{minDate:ctrl.filterObj[op.field].start,showWeeks:false}"
                                       ng-click="eO=!eO" />
                            </div>
                            <div class="num-filter" ng-if="op.type=='Number'" ng-cloak ng-init="filterOption='='; filterValue=''">
                                <div class="input-group">
                                    <div class="input-group-btn" uib-dropdown on-toggle="ctrl.filterNum(op.field, filterOption)">
                                        <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle><b>&nbsp;{{filterOption}}&nbsp;</b><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-left" role="menu" uib-dropdown-menu>
                                            <li><a href="#" ng-click="filterOption='='">等于（=）</a></li>
                                            <li><a href="#" ng-click="filterOption='>='">大于且等于（&ge;）</a></li>
                                            <li><a href="#" ng-click="filterOption='<='">小于且等于（&le;）</a></li>
                                            <li><a href="#" ng-click="filterOption='!='">不等于（!=）</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" ng-model="ctrl.filterObj[op.field].text" ng-blur="ctrl.filterNum(op.field,filterOption)">
                                </div>
                            </div>
                            <input ng-if="op.type=='Text'" ng-model="ctrl.filterObj[op.field]" class="form-control filter-text" type="text" ng-blur="ctrl.filter(filterIsOpen);"
                                   uib-typeahead="filter for filter in ctrl.getSelectFilter(op.field,$viewValue)"
                                   typeahead-focus-on-select="false"
                                   typeahead-on-select="ctrl.filter();"
                                   typeahead-is-open="filterIsOpen"
                                   typeahead-min-length="2"
                                   typeahead-wait-ms="500" />
                            <i class="fa fa-close filter-clear-btn" ng-click="ctrl.clearFilter(op.field);" ng-show="op.type!='Date' && ctrl.filterObj[op.field] "></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-cloak class="static-row">
                    <td colspan={{ctrl.getconspan()}} ng-cloak>
                        <div class="alert alert-warning" ng-show="ctrl.data && ctrl.data.length==0">没有符合条件的数据！</div>
                        <i class="fa fa-spinner fa-pulse  fa-fw" ng-hide="ctrl.dataLoading==false"></i>
                    </td>
                </tr>
                <tr ng-repeat-start="item in ctrl.data" ng-click="ctrl.rowSelected(item);" ng-class="{active:item.$selected,striped:$odd}" class="data-row" ng-init="row.show=false">
                    <td ng-if="ctrl.gridOption.rowNumber" ng-bind="(ctrl.page.pageIndex-1)*ctrl.page.pageSize+$index+1" class="row-number-cell"> </td>
                    <td class="detail-cell" ng-if="ctrl.gridOption.rowDetail || ctrl.gridOption.showBtn"><i class="fa" ng-click="row.show=!row.show;" ng-class="row.show?'fa-minus-square':'fa-plus-square'" aria-hidden="true"></i></td>
                    <td ng-repeat="col in ctrl.gridOption.columns"
                        ng-style="{width:col.width}"
                        ng-bind="col.formatter?formatter(col.formatter,item[col.id],item) : item[col.id]"
                        uib-popover="{{col.formatter?formatter(col.formatter,item[col.id],item) : item[col.id]}}"
                        popover-append-to-body="true"
                        popover-trigger="'outsideClick'"
                        popover-placement="top-left"></td>
                </tr>
                <tr ng-repeat-end class="static-row" ng-cloak ng-show="row.show">
                    <td colspan={{ctrl.getconspan()}}>
                        <div ng-if="ctrl.gridOption.rowDetail" class="row-detail-content clearfix">
                            <div ng-if="ctrl.gridOption.onRenderRowDetail" ng-bind-html="ctrl.renderRowDetail(item)"></div>
                            <div ng-if="!ctrl.gridOption.onRenderRowDetail" ng-repeat="(key,value) in item | filterColumn:columnfields" class="row-detail-item">
                                <div ng-if="!ctrl.isArray(value)">
                                    <b>{{key}}</b> ： {{value}}
                                </div>
                            </div>
                        </div>
                        <div class="row-btn text-left clearfix" ng-if="ctrl.gridOption.showBtn">
                            <a class="btn btn-primary" ng-click="ctrl.create(item);" ng-if="ctrl.gridOption.showBtn.edit"> <i class="glyphicon glyphicon-pencil"></i><span>编 辑</span></a>
                            <a class="btn btn-primary" ng-click="ctrl.delete(item,$index)" ng-if="ctrl.gridOption.showBtn.del">
                                <i class="glyphicon glyphicon-trash"></i><span>删 除</span>
                            </a>
                            <a class="btn btn-primary" ng-repeat="btn in ctrl.gridOption.btns" ng-click="btn.onclick(item);"><i ng-class="btn.icon"></i><span>{{btn.name}}</span>  </a>
                            <a ng-if="!ctrl.gridOption.isDetail" class="btn btn-primary" ng-repeat="btn in ctrl.gridOption.propbtns" ng-click="ctrl.createObj('/ngTemplate/'+btn.template+'.html',btn.pk,item.Id)"><i class="fa fa-plus"></i><span>{{btn.name}}</span>  </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="ctrl.page.pageSize<ctrl.page.total" ng-cloak class="grid-page">
        <div class="btn-group grid-pagination" uib-dropdown>
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                {{ctrl.page.pageSize}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu grid-pagination-size" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="size in ctrl.psArray" ng-click="ctrl.page.pageSize=size;ctrl.paging(ctrl.page);"><a href="#">{{size}}</a></li>
            </ul>
        </div>
        <ul uib-pagination total-items="ctrl.page.total"
            ng-model="ctrl.page.pageIndex"
            max-size="5"
            class="pagination"
            ng-change="ctrl.paging(ctrl.page);"
            items-per-page="ctrl.page.pageSize"
            boundary-link-numbers="true"
            next-text="下一页"
            previous-text="上一页"></ul>
    </div>
</div>
