
<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <b>{{item.Id?"EDIT":"CREATE"}}</b>

            <i class="fa fa-close pull-right" ng-click="vm.cancel()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="modal-nav">
  <a ng-click="vm.scrollTo('#tolink0')">基本信息</a>
  <a ng-click="vm.scrollTo('#tolink1')">Customers</a>
        </div>
        <form class="form-horizontal  modal-form" role="form" ng-style="{maxHeight:vm.modalHeight}" name="form"
              ng-scrollbars
              ng-scrollbars-update="vm.scrolls.updateScrollbar"
              ng-scrollbars-config="vm.scrolls.config">
          <fieldset id="tolink0">
                <legend><i class="fa fa-circle"></i>基本信息</legend>       
                    <div class="form-group" ng-class="{'has-error':form.RegionDescription.$invalid }" 
                    ><label class="col-sm-2 control-label">RegionDescription</label>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="off"  class="form-control pull-left"  placeholder="RegionDescription" name="RegionDescription" ng-model="vm.item.RegionDescription"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.RegionType.$invalid }" 
                    ><label class="col-sm-2 control-label">RegionType</label>
                    <div class="col-sm-10">
                <select class="form-control" ng-model="vm.item.RegionType" ng-options="value for value in ['Bool','Date','Number','Text']">
               </select>                 
                    <div ng-messages="form.RegionType.$error" class="pull-left error">                       
                            <div ng-message="required">这是个必填项</div>                         
                          </div>
                     </div>
                </div>
                </fieldset>
          <fieldset id="tolink1">
                <legend><i class="fa fa-circle"></i>Customers</legend>       
                  
                    <div grid
                    ng-model="vm.item.Customers"
                     grid-option="vm.gridOption"
                     grid-detail="true"
                     grid-item-field="Id"
                     grid-enable-edit="true"
                     grid-enable-delete="true"
                     grid-more-to-more="true"
                     grid-template="nggrid"
                     grid-name="customers"
                     grid-select-url="/Region/Select2Customers"
                     grid-delete-url="/Region/DeleteCustomers"
                     grid-edit-template-url="/ngTemplate/Customers.html"
                     grid-url="/Region/PageCustomers">
                    </div>
                </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary " type="button" ng-click="vm.ok(form,'/region/')">确 定</button>
        <button class="btn btn-warning " type="button" ng-click="vm.cancel()">取 消</button>
    </div>
</div>
