
<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <b>{{item.Id?"EDIT":"CREATE"}}</b>

            <i class="fa fa-close pull-right" ng-click="vm.cancel()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="modal-nav">
  <a ng-click="vm.scrollTo('#tolink0')">基本信息</a>
  <a ng-click="vm.scrollTo('#tolink1')">Roles</a>
  <a ng-click="vm.scrollTo('#tolink2')">Permissions</a>
        </div>
        <form class="form-horizontal  modal-form" role="form" ng-style="{maxHeight:vm.modalHeight}" name="form"
              ng-scrollbars
              ng-scrollbars-update="vm.scrolls.updateScrollbar"
              ng-scrollbars-config="vm.scrolls.config">
          <fieldset id="tolink0">
                <legend><i class="fa fa-circle"></i>基本信息</legend>       
                    <div class="form-group" ng-class="{'has-error':form.Name.$invalid }" 
                    ><label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Name" name="Name" ng-model="vm.item.Name"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.NickName.$invalid }" 
                    ><label class="col-sm-2 control-label">NickName</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="NickName" name="NickName" ng-model="vm.item.NickName"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Password.$invalid }" 
                    ><label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Password" name="Password" ng-model="vm.item.Password"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Address.$invalid }" 
                    ><label class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Address" name="Address" ng-model="vm.item.Address"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Email.$invalid }" 
                    ><label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Email" name="Email" ng-model="vm.item.Email"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.Mobile.$invalid }" 
                    ><label class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-10">
                        <input type="text"
                       autocomplete="off"  class="form-control pull-left"  placeholder="Mobile" name="Mobile" ng-model="vm.item.Mobile"   
                       >
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.RegisterDate.$invalid }" 
                    ><label class="col-sm-2 control-label">RegisterDate</label>
                    <div class="col-sm-10">
                  <div class="dropdown">
                  <a class="dropdown-toggle" id="RegisterDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                           <input type="text"  readonly="readonly" class="form-control"  
                               ng-value="vm.item.RegisterDate  | date:'yyyy-MM-dd HH:mm a'">
                               <span    class="input-group-addon"  >
                               <i class="glyphicon glyphicon-calendar"></i>
                               </span>
                        </div>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                            <datetimepicker ng-model="vm.item.RegisterDate" data-datetimepicker-config="{ dropdownSelector: '#RegisterDate' }"></datetimepicker>
                        </ul>
               </div>
                    </div>
                </div>
                    <div class="form-group" ng-class="{'has-error':form.UserType.$invalid }" 
                    ><label class="col-sm-2 control-label">UserType</label>
                    <div class="col-sm-10">
                <select class="form-control" ng-disabled="vm.item.Id"  
                  ng-model="vm.item.UserType" ng-options="value for value in ['Admin','Employees']">
               </select>                 
                    </div>
                </div>
                </fieldset>
          <fieldset id="tolink1">
                <legend><i class="fa fa-circle"></i>Roles</legend>       
                  
                    <div grid
                    ng-model="vm.item.Roles"
                     grid-option="vm.gridOption"
                     grid-detail="true"
                     grid-item-field="Id"
                     grid-enable-edit="true"
                     grid-enable-delete="true"
                     grid-more-to-more="true"
                     grid-template="nggrid"
                     grid-name="role"
                     grid-select-url="/User/Select2Role"
                     grid-delete-url="/User/DeleteRole"
                     grid-edit-template-url="/ngTemplate/Role.html"
                     grid-url="/User/PageRole">
                    </div>
                </fieldset>
          <fieldset id="tolink2">
                <legend><i class="fa fa-circle"></i>Permissions</legend>       
                  
                    <div grid
                    ng-model="vm.item.Permissions"
                     grid-option="vm.gridOption"
                     grid-detail="true"
                     grid-item-field="UserId"
                     grid-enable-edit="true"
                     grid-enable-delete="true"
                     grid-more-to-more="false"
                     grid-template="nggrid"
                     grid-name="userPermission"
                     grid-select-url="/UserPermission/Select2"
                     grid-delete-url="/UserPermission/Delete"
                     grid-edit-template-url="/ngTemplate/UserPermission.html"
                     grid-url="/UserPermission/Page">
                    </div>
                </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary " type="button" ng-click="vm.ok(form,'/user/')">确 定</button>
        <button class="btn btn-warning " type="button" ng-click="vm.cancel()">取 消</button>
    </div>
</div>
