<div id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <b>EDIT</b>

            <i class="fa fa-close pull-right" ng-click="cancel()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="col-md-12 modal-nav">
            <a ng-click="scrollTo('#publicinfo')">公共信息</a>
            <a ng-click="scrollTo('#shipInfo')">发货人信息</a>
            <a ng-click="scrollTo('#orderdetial')">订单详情</a>
        </div>
        <form class="form-horizontal col-md-12 modal-form" role="form" ng-style="{maxHeight:modalHeight}" name="form"
              ng-scrollbars
              ng-scrollbars-update=scrolls.updateScrollbar
              ng-scrollbars-config="scrolls.config">

            <fieldset id="publicinfo">
                <legend><i class="fa fa-circle"></i>公共信息</legend>
                <div class="form-group" ng-class="{'has-error':form.ShipAddress.$invalid }">
                    <label for="ShipAddress" class="col-sm-2 control-label">发货人地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control pull-left" id="ShipAddress" placeholder="发货人地址" ng-model="item.ShipAddress" ng-required="true" name="ShipAddress" ng-maxlength="5">
                        <div ng-messages="form.ShipAddress.$error" class="pull-left error">
                            <div ng-message="required">这个是个必填项！</div>
                            <div ng-message="minlength">Your field is too short</div>
                            <div ng-message="maxlength">Your field is too long</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ShipName" class="col-sm-2 control-label">发货人名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ShipName" placeholder="发货人名称" ng-model="item.ShipName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ShipName" class="col-sm-2 control-label">订单日期</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="OrderDate" placeholder="发货人名称" ng-model="item.OrderDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ShipName" class="col-sm-2 control-label">发货人城市</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ShipName" placeholder="发货人名称" ng-model="item.ShipCity">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ShipName" class="col-sm-2 control-label">发货人城市</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ShipName" placeholder="发货人名称" ng-model="item.ShipCity">
                    </div>
                </div>
            </fieldset>
            <fieldset id="shipInfo">
                <legend><i class="fa fa-circle"></i>发货人信息</legend>
                <div class="form-group">
                    <label for="ShipName" class="col-sm-2 control-label">发货人城市</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ShipName" placeholder="发货人名称" ng-model="item.ShipCity">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ShipName" class="col-sm-2 control-label">发货人城市</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="item.CustomersCompanyName"
                                   theme="bootstrap"
                                   style="width:60%"
                                   reset-search-input="false"
                                   on-select="bind($item, 'CustomersCompanyName', 'CustomerID');"
                                   title="Choose an customer">
                            <ui-select-match placeholder="键入过滤关键字...">{{$select.selected.name || $select.selected}}</ui-select-match>
                            <ui-select-choices repeat="customer in customers track by $index"
                                               refresh="getSelect2('customers','companyname','customerid',$select.search)"
                                               refresh-delay="0">
                                <div ng-bind-html="customer.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </fieldset>
            <fieldset id="orderdetial">
                <legend><i class="fa fa-circle"></i>订单详情</legend>
                <div grid
                     grid-option="gridOption"
                     grid-template="ngdetailgrid"
                     grid-columns="orderDetails"
                     grid-select-url="/OrderDetails/select2"
                     grid-url="/OrderDetails/Page">

                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary " type="button" ng-click="ok()">确 定</button>
        <button class="btn btn-warning " type="button" ng-click="cancel()">取 消</button>
    </div>

</div>