[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}
[ng\:form] {
  display: block;
}
.ng-animate-shim {
  visibility: hidden;
}
.ng-anchor {
  position: absolute;
}
.uib-daypicker,
.uib-monthpicker,
.uib-yearpicker {
  outline: none !important;
}
.uib-daypicker .btn,
.uib-monthpicker .btn,
.uib-yearpicker .btn {
  border: none;
}
[readonly] {
  background-color: white !important;
}
.grid-modal-dialog {
  margin: auto;
  margin-top: 30px;
}
.grid-modal-dialog .modal-header {
  padding: 10px;
}
.grid-modal-dialog .modal-title {
  height: 30px;
}
.grid-modal-dialog .modal-title .fa:hover {
  opacity: .8;
  cursor: pointer;
}
.grid-modal-dialog .modal-body {
  height: auto;
  padding: 0;
}
.grid-modal-dialog .modal-body.grid-template {
  padding: 20px;
  margin: 0 auto;
}
.grid-modal-dialog .modal-body .modal-nav {
  background-color: #31708f;
  padding: 0 40px;
  height: 50px;
}
.grid-modal-dialog .modal-body .modal-nav a {
  outline: none;
  text-align: center;
  text-decoration: none !important;
  font-size: 14px;
  margin-right: 2px;
  float: right;
  padding: 0 20px;
  border-right: solid 2px #ccc;
  height: 20px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}
.grid-modal-dialog .modal-body .modal-nav a:first-child {
  border: none;
}
.grid-modal-dialog .modal-body .modal-nav a:hover {
  color: #f0ad4e;
}
.grid-modal-dialog .modal-body .modal-form {
  padding: 0 50px 0 60px;
  width: 100%;
}
.grid-modal-dialog .modal-body .modal-form .form-group input[type='checkbox'] {
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
}
.grid-modal-dialog .modal-body .modal-form .ui-select-dropdown {
  position: relative;
}
.grid-modal-dialog .modal-body .modal-form .error {
  height: auto;
  color: #a94442 !important;
}
.grid-modal-dialog .modal-body .modal-form .error [ng-message] {
  margin-top: 5px;
}
.grid-modal-dialog .modal-body fieldset {
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  min-width: 650px;
}
.grid-modal-dialog .modal-body fieldset .btns {
  height: 0;
  float: right;
  margin-top: -60px;
}
.grid-modal-dialog .modal-body fieldset .btns span {
  vertical-align: middle;
}
.grid-modal-dialog .modal-body fieldset .btns .glyphicon,
.grid-modal-dialog .modal-body fieldset .btns .fa {
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
}
.grid-modal-dialog .modal-body legend {
  font-size: 14px;
  color: #31708f;
  padding-bottom: 8px;
  height: 40px;
  line-height: 40px;
  display: block;
}
.grid-modal-dialog .modal-body legend i {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}
.grid-modal-dialog .modal-body .control-label {
  font-weight: normal;
  font-size: 14px;
}
.grid-modal-dialog .modal-footer .btn {
  padding: 8px 40px;
  font-size: 16px;
}
.comfirm-delete {
  width: 200px;
  border-bottom: solid 1px #ccc;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.comfirm-delete i {
  vertical-align: middle;
  margin-right: 10px;
}
.comfirm-delete + .btn {
  margin-bottom: 10px;
  width: 60px;
}
.ng-grid {
  min-width: 300px;
}
.ng-grid .grid-body {
  width: 100%;
  overflow: auto;
}
.ng-grid .grid-page {
  border-top: solid 2px #eee;
  padding-top: 10px;
}
.ng-grid .panel-heading {
  box-sizing: content-box;
  padding-right: 8px;
}
.ng-grid .fa-spinner {
  font-size: 25px;
  color: #f0ad4e;
  margin-top: 20px;
  margin-left: 10px;
}
.ng-grid .content-table {
  table-layout: fixed !important;
  margin-bottom: 10px;
  min-height: 50px;
}
.ng-grid .content-table .grid-head > th {
  vertical-align: top;
  padding: 5px;
  border: 0;
  border-bottom: solid 2px #eee;
  padding-bottom: 10px;
}
.ng-grid .content-table .grid-head > th.row-number-cell {
  padding-top: 5px;
}
.ng-grid .content-table .alert {
  margin-top: 15px !important;
}
.ng-grid .content-table tr.data-row > td {
  padding: 0 5px;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  height: 35px;
}
.ng-grid .content-table tr.striped {
  background-color: #f9f9f9;
}
.ng-grid .content-table tr.active {
  background-color: #dff0d8;
}
.ng-grid .content-table .row-btn {
  padding: 10px 20px;
  border-bottom: dashed 1px #f0ad4e;
}
.ng-grid .content-table .row-btn .btn {
  margin-right: 5px;
  padding: 5px 12px;
}
.ng-grid .content-table .row-btn .btn span {
  vertical-align: middle;
}
.ng-grid .content-table .row-btn .glyphicon,
.ng-grid .content-table .row-btn .fa {
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
.ng-grid .content-table .row-detail-content {
  padding: 20px;
  padding-bottom: 0;
}
.ng-grid .content-table .row-detail-content .row-detail-item {
  margin-bottom: 4px;
}
.ng-grid .content-table .row-detail-content .table {
  margin-top: 10px;
}
.ng-grid .content-table .row-detail-content .table td {
  height: 25px;
}
.ng-grid .row-number-cell {
  width: 1%;
  padding: 0;
  text-align: center;
}
.ng-grid .detail-cell {
  padding: 0;
  width: 25px;
  text-align: center;
  font-size: 16px;
  color: #f0ad4e;
}
.ng-grid .detail-cell .glyphicon,
.ng-grid .detail-cell .fa {
  cursor: pointer;
  line-height: 35px;
}
.ng-grid .sort-name {
  cursor: pointer;
}
.ng-grid .sort {
  float: right;
}
.ng-grid .sort .fa {
  display: block;
  height: 1px;
}
.ng-grid .sort .fa:first-child {
  margin-top: 4px;
}
.ng-grid .page-size {
  float: left;
  height: 26px;
  margin-right: 5px;
}
.ng-grid .pagination {
  margin: 0;
}
.ng-grid .grid-pagination {
  margin: 0 5px;
  float: left;
}
.ng-grid .grid-pagination-size {
  min-width: 55px !important;
}
.ng-grid .grid-pagination-size a {
  padding: 0;
  text-align: center;
  display: block;
}
.ng-grid .pagination-page {
  font-weight: bold;
}
.ng-grid .static-row {
  background-color: white;
}
.ng-grid .static-row > td {
  padding: 0;
}
.ng-grid .static-row > td:hover {
  background-color: white;
}
.ng-grid .date-filter {
  position: relative;
}
.ng-grid .date-filter input[type='text'] {
  width: 46%;
  float: left;
  padding-left: 2px;
  padding-right: 2px;
}
.ng-grid .date-filter .split {
  float: left;
  line-height: 35px;
  margin: 0 2px;
}
.ng-grid .num-filter {
  position: relative;
  width: 100%;
}
.ng-grid .num-filter select {
  width: 40px;
  height: 28px;
  z-index: 1;
  position: absolute;
  border-color: transparent;
  background-color: transparent;
}
.ng-grid .num-filter input[type='number'] {
  width: 100%;
  height: 28px;
  text-indent: 42px;
  border-radius: 2px;
  border: solid 1px #aaa;
}
.ng-grid .row-filter {
  margin: 10px 0 0;
  color: #555 !important;
  position: relative;
}
.ng-grid .row-filter .dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}
.ng-grid .row-filter select.rowfilter-select {
  width: 100%;
  height: 100%;
  border-color: transparent;
  z-index: -1;
  position: relative;
}
.ng-grid .row-filter .filter-text {
  padding-right: 20px;
  padding-left: 5px !important;
}
.ng-grid .row-filter .filter-clear-btn {
  position: absolute;
  opacity: .3;
  height: 30px;
  text-align: center;
  line-height: 30px;
  right: 4px;
  cursor: pointer;
  top: 2px;
  z-index: 999;
}
.ng-grid .row-filter .filter-clear-btn:hover {
  opacity: 1;
}
.ng-grid .row-filter .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.ng-grid .row-filter .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}
.ng-grid .row-filter .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
/*# sourceMappingURL=grid.css.map */