@{
    ViewBag.Title = "Home Page";
}
@section Styles{

}
<div ng-controller="orderController">
    <div class="clearfix grid-btn">
        <ol class="breadcrumb pull-left">
            <li><a href="#">Index</a></li>
            <li><a href="#">Orders</a></li>
        </ol>
        <a class="btn btn-primary " ng-click="gridOption.create();"><i class="fa fa-plus"></i>新 建</a>
    </div>
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-heading">
            <b>ORDERS</b>
        </div>
        <div class="panel-body" ng-cloak>
            <div grid grid-option="gridOption" data="data" grid-name="orders"></div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        require(["app"], function () {
            var app = angular.module("app");
            app.controller("orderController", [
                "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
                    $scope.gridOption = {
                        height: 'auto',
                        rowNumber: true,
                        pkColumn: "Id",
                        rowDetail: true,
                        filterRow: false,
                        url: "/home/page",
                        selectUrl: "/home/select2",
                        editTemplateUrl: "/ngTemplate/orders.html",
                        btns: [
                            { name: "detail", icon: "glyphicon glyphicon-th", onclick: function () { $common.$toast.warning("YOU,GOOD!") } },
                            {
                                name: "detail",
                                icon: "glyphicon glyphicon-th",
                                onclick: function () {
                                    $common.$alert.confirm("Are you Sure?", { type: "input" }).then(function (isConfirm) {
                                        setTimeout(function () { $common.$alert.success("You have successfully completed!", { title: "Good job!" }); }, 500);
                                    });
                                }
                            }
                        ],
                        onRowSelected: function (row) { }
                        // ,onRenderRowDetail: function (row) { }
                    };
                    var a = 1;
                }
            ]);
        });

    </script>
}
