@{
    ViewBag.Title = "Home Page";
}
@section Styles{

}
<div ng-app="app" ng-controller="orderController">
    <br />
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-heading">
            <b>ORDERS</b>
            <a class="btn btn-primary pull-right" ng-click="gridOption.dialog({});"><i class="fa fa-plus"></i>新 建</a>
        </div>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data" grid-name="orders"></div>
        </div>
    </div>

    <div class="dropdown">
        <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group">
                <input type="text" id="date" name="date" class="form-control" value="{{date | date:'yyyy-MM-dd'}} " />
                <span class=" input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="date" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"></datetimepicker>
        </ul>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        app.controller("orderController", [
            "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
                $window.formatterDate = function (value) {
                    return $filter("date")(value, "yyyy-MM-dd");
                }
                $scope.date = "2012-4-5";
                $scope.gridOption = {
                    height: 'auto',
                    rowNumber: true,
                    pkColumn: "Id",
                    rowDetail: true,
                    filterRow: true,
                    url: "/home/page",
                    selectUrl: "/home/select2",
                    editTemplateUrl: "/ngTemplate/orders.html",
                    btns: [
                        { name: "detail", icon: "glyphicon glyphicon-th", onclick: function () { $common.$toast.warning("YOU,GOOD!") } },
                        {
                            name: "detail",
                            icon: "glyphicon glyphicon-th",
                            onclick: function () {
                                $common.$alert.confirm("Are you Sure?", { type: "input" }).then(function (isConfirm) {
                                    setTimeout(function () { $common.$alert.success("You have successfully completed!", { title: "Good job!" }); }, 500);
                                });
                            }
                        }
                    ],
                    onRowSelected: function (row) { }
                    // ,onRenderRowDetail: function (row) { }
                };
            }
        ])
    </script>
}
