@{
    ViewBag.Title = "订单详情";
}
@section Styles{

}
<div  ng-controller="orderdetailsController">
    <div class="clearfix grid-btn">
        <ol class="breadcrumb pull-left">
            <li><a href="/">EDO</a></li>
            <li><a  class="active">订单详情</a></li>
        </ol>
        <a class="btn btn-primary " ng-click="gridOption.create();"><i class="fa fa-plus"></i>新 建</a>
    </div>
    <div class="ng-grid panel panel-default" ng-cloak>
        <div class="panel-body">
            <div grid grid-option="gridOption" data="data" grid-name="orderdetails"></div>
        </div>
    </div>  
</div>
@section scripts{
    <script type="text/javascript">
        app.controller("orderdetailsController", [
            "$scope", "$http", "$filter", "$window", "$common", function ($scope, $http, $filter, $window, $common) {
                $scope.gridOption = {
                    height: 'auto',
                    rowNumber: true,
                    pkColumn: "Id",
                    rowDetail: true,
                    filterRow: true,
                    url: "/orderdetails/page",
                    selectUrl: "/orderdetails/select2",
                    editTemplateUrl: "/ngTemplate/orderdetails.html"
                //, onRowSelected: function (row) { }
               // , onRenderRowDetail: function (row) { }
                };
            }
        ])
    </script>
}

